EDOT_SERVER_URL=https://your-apm-server.example.com
EDOT_SERVICE_NAME_IOS=edot-basic-example-ios
EDOT_SERVICE_NAME_ANDROID=edot-basic-example-android
EDOT_SERVICE_VERSION=1.0.0
EDOT_SECRET_TOKEN=your-secret-token
EDOT_DEPLOYMENT_ENVIRONMENT=development
